<div class="row main">
    <div class="section col s2">
        <div class="attribute-panel options" ui-view="attribute-panel"></div>

    </div>
    <div class="col s10">
        <div class="col s6">
            <div class="canvas plotsContainer" ui-view="canvas"></div>

        </div>
        <div class="col s6">
            <div class="zql options" ui-view="zql"></div>

        </div>
        <div class="col s6">
            <div class="matches plotsContainer" ui-view="matches"></div>

        </div>
        <div class="col s6">
            <div class=" trends plotsContainer" ui-view="trends"></div>

        </div>
    </div>
</div>
